parameters:
	level: max
	paths:
		- src
	ignoreErrors:
		# PHP 8.1 compatibility
		- "#^Access to an undefined property Kayrunm\\\\FluentRrule\\\\(.*)\\:\\:\\$value\\.$#"
		- "#^Access to undefined constant Kayrunm\\\\FluentRrule\\\\(.*)\\:\\:(.*)\\.$#"
