parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Kayrunm\\\\FluentRrule\\\\Frequency\\:\\:\\$value\\.$#"
			count: 1
			path: src/Schedule.php

		-
			message: "#^Access to undefined constant Kayrunm\\\\FluentRrule\\\\Frequency\\:\\:DAILY\\.$#"
			count: 2
			path: src/Schedule.php

		-
			message: "#^Access to undefined constant Kayrunm\\\\FluentRrule\\\\Frequency\\:\\:HOURLY\\.$#"
			count: 2
			path: src/Schedule.php

		-
			message: "#^Access to undefined constant Kayrunm\\\\FluentRrule\\\\Frequency\\:\\:MINUTELY\\.$#"
			count: 2
			path: src/Schedule.php

		-
			message: "#^Access to undefined constant Kayrunm\\\\FluentRrule\\\\Frequency\\:\\:MONTHLY\\.$#"
			count: 2
			path: src/Schedule.php

		-
			message: "#^Access to undefined constant Kayrunm\\\\FluentRrule\\\\Frequency\\:\\:SECONDLY\\.$#"
			count: 2
			path: src/Schedule.php

		-
			message: "#^Access to undefined constant Kayrunm\\\\FluentRrule\\\\Frequency\\:\\:WEEKLY\\.$#"
			count: 2
			path: src/Schedule.php

		-
			message: "#^Access to undefined constant Kayrunm\\\\FluentRrule\\\\Frequency\\:\\:YEARLY\\.$#"
			count: 2
			path: src/Schedule.php

